<footer>
    <div class="footer">© 2025 Murphy Biochemistry UG (haftungsbeschränkt) ⠀·⠀ All Rights Reserved</div>
    <ul class="nav">
        <li class="nav"><a href="{{ "legal/legal_notice" | relURL }}">{{"Legal Notice (Impressum)"}}</a></li>·
        <li class="nav"><a href="{{ "legal/privacy_policy" | relURL }}">{{"Privacy Policy"}}</a></li>·
        <li class="nav"><a href="{{ "legal/terms_of_use" | relURL }}">{{"Terms of Use"}}</a></li>
    </ul>
</nav>
    <ul class="footer">
        <li class="footer">
            <label class="switchbox">
                <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
            </label>
        </li>
    </ul>
</footer>
