<nav class="nav">
    <a href="{{ "" | relURL }}"><img class="nav" src="{{ "images/3biochem_white.png" | relURL }}" alt="Logo"></a>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <ul class="nav">
        <li class="nav"><a href="{{ "" | relURL }}">{{"Home"}}</a></li>
        <li class="nav"><a href="{{ "materials" | relURL }}">{{"Materials"}}</a></li>
        <li class="nav"><a href="{{ "recipes" | relURL }}">{{"Recipes"}}</a></li>
        <li class="nav"><a href="{{ "methodes" | relURL }}">{{"Methodes"}}</a></li>
    </ul>
</nav>