<nav class="nav">
    <a href="{{ "" | relURL }}"><img class="nav" src="{{ "images/ShipFoldLogo.png" | relURL }}" alt="Logo"></a>
    <ul class="nav">
        <li class="nav"><a href="{{ "" | relURL }}">{{"Home"}}</a></li>
        <li class="nav"><a href="{{ "methodes" | relURL }}">{{"Methodes"}}</a></li>
        <li class="nav"><a href="{{ "recipes" | relURL }}">{{"Recipes"}}</a></li>

        <li class="nav"><a href="{{ "terms_of_use" | relURL }}">{{"Terms of Use"}}</a></li>
        <li class="nav"><a href="{{ "privicy_policy" | relURL }}">{{"Privicy Policy"}}</a></li>
        <li class="nav"><a href="{{ "legal_notice" | relURL }}">{{"Legal Notice"}}</a></li>
    </ul>
</nav>