<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <title>Document</title>
</head>

<script src="{{ "js/theme_toggle.js" | relURL }}"></script>
<script src="{{ "js/age_buffer_select.js" | relURL }}"></script>
<script src="{{ "js/age_mastermix_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/age_sample_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/pcr_mastermix_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/age_following_pcr_buffer.js" | relURL }}"></script>
<script src="{{ "js/timer.js" | relURL }}"></script>
<script src="{{ "js/current_time_display.js" | relURL }}"></script>
<script src="{{ "js/transformation_from_pcr_mastermix_prep_calc.js" | relURL }}"></script>
<script src="{{ "js/transformation_buffer_10x_PIPES_alternative.js" | relURL }}"></script>


<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
<script src="{{ "js/bacterial_growth_calc.js" | relURL }}"></script>

<script src="{{ "js/access.js" | relURL }}"></script>

<body>

    {{ partial "navigation" . }}

    {{ partial "header" . }}
    
    <main>

            {{block "main" . }}

            {{end}}

    </main>

    {{ partial "footer" . }}

</body>


</html>